body{
	margin: 0px;
	padding: 0px;
}
#wrapper {
	border: 2px solid #73AD21;
	padding: 5px;
}

.one-img-banner {
	position: relative;
	height: 650px;
	border: 1px solid #73AD21;

	background-image: url('images/slider_hero_home_01_01.png');
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	overflow:hidden;
}

.one-img-banner_layer{
	width: 70%;
	margin: auto;
	padding: 10px;
	/*border: 2px solid black;*/
	overflow:hidden;
}

.logo{
	width: 118px;
}

.menue-bar{
	float: right;
}

.menue-bar .navbar {
	height: 40px;
	padding: 0;
	margin: 0;
}

.menue-bar .navbar ul .get-space {
	padding-right: 20px;
}

.menue-bar .navbar ul li a {
	color: white;
}

.menue-bar .navbar ul .scheduale-apartment {
	background-color: #E38203;
	border-radius: 5px;
}

.a_place_you_call {
	margin-top: 130px;
}

.a_place_you_call h1{
	font-size: 70px;
	font-family: Playfair Display;
	color: white;
	letter-spacing: 5px;
}

.home {
	color: #F88E03;
	font-weight: bold;
	font-style: italic;
}

.left-box{
	background-color: #B76B07;
	padding: 0px;
	margin-top: 55px;
	width: 153px;
	padding: 5px 0px; 
	float: left;
}

.left-box img{
	float: left;
	height: 29.25px;
	width: 29.25px;
	margin-top: 5px;
	margin-left: 20px;
}

.left-box .p{
	color: white;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

.right-box {
	border: 1px ridge #E38203;
	margin-top: 55px;
	margin-left: 10px;
	width: 153px;
	border-radius: 5px;
	padding: 5px 0px; 
}


.right-box img {
	margin-left: 20px;
	margin-right: 10px;
	float: left;
}

.right-box .p{
	color: white;
	font-size: 14px;
}

.little-container .box {
	display: inline-block;
}

/*   */

#contents-container{
	width: 70%;
	margin: auto;
	overflow:hidden;
	border: 1px solid red;
}

.quality-comfort {
	margin-top: 100px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.quality-comfort .box {
	display: inline-block;
	/*border: 1px solid black;*/
	width: 480px;
	height: 550px;
}

.quality-comfort .quality-comfort_lbox {
	box-sizing: border-box;
	padding: 150px 0px;
}

.quality-comfort .quality-comfort_subtext {
	width: 350px;
}

.quality-comfort .discover-btn {
	margin-top: 40px;
}

.quality-comfort .discover-btn a {
	background-color: #B76B07;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0px;
}



.quality-comfort_lbox div .color-comfort {
	color: #F88E03;
}

.quality-comfort_lbox div h1{
	color: #214266;
}

.quality-comfort_rbox {
	background-color: #214264;
	position: relative;

	background-image: url('images/inner_03.png');
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	overflow:hidden;
}

.quality-comfort_rbox table{
	position: absolute;
    top: 20%;
    left: 15%;
}

.quality-comfort_rbox table tr {
	color: white;
}

.quality-comfort_rbox table .subtext {
	font-size: 12px;
}

.quality-comfort_rbox table tr .nomber {
	font-weight: bold;
}

/* Everything Within Reach */

.everything-within-reach {
	border: 1px solid black;
	margin-top: 100px;
	overflow: hidden;
	background-color: #F2E6E6;
	padding-bottom: 100px;
}

.everything-within-reach h1{
	font-weight: bold;
	padding-left: 47px;
}

.everything-within-reach .box{
	display: inline-block;
}

.everything-within-reach .color-reach{
	color: #F88E03;
}

.everything-within-reach .text-contents {
	/*border: 1px solid red;	*/
	width: 30%;
	float: right;
	padding-right: 30px;
}

.everything-within-reach .text-contents table tr:nth-of-type(odd) {
	border-top: 1px solid gray;
	border-top-style: groove;
}

.everything-within-reach .text-contents table .color-no {
	color: #F88E03;
}


/* 4th section fr-thos-who-know */


.fr-thos-who-know {
	border: 1px solid black;
	margin-top: 100px;
	overflow: hidden;
}

.fr-thos-who-know_lbox {
	max-width: 315px;
	/*border: 1px solid black;*/
}

.fr-thos-who-know_lbox, .fr-thos-who-know_rbox {
	display: inline-block;
}

.fr-thos-who-know_lbox h1 {
	font-weight: bold;
	color: #214266;
}

.fr-thos-who-know_lbox .color-choose {
	color: #F88E03;
} 

.fr-thos-who-know_rbox {
	/*margin-right: -200px;*/
	margin-left: 10px;
}

.fr-thos-who-know_rbox .box {
	display: inline-block;
	/*border: 1px solid orange;*/
	max-width: 270px;
}

.fr-thos-who-know_rbox .box h2 {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.fr-thos-who-know_rbox .box table tr td:nth-of-type(even){
	text-align: right;
}

.fr-thos-who-know_rbox .box a {
	background-color: #B76B07;
	padding: 9px 20px;
	border-radius: 0;
}

.fr-thos-who-know_rbox .box .color-from55 {
	color: #F88E03;
}

.fr-thos-who-know_bbox {
	/*border: 1px solid blueviolet;*/
	padding: 10px 10px 10px 45px;
}

.fr-thos-who-know_bbox div {
	width: 280px;
	height: 210px;
	/*border: 1px solid black;*/
	position: relative;
	display: inline-block;
	margin: 0px auto;
}

.fr-thos-who-know_bbox div .sub-box {
	width: 210px;
	height: 94px;
	background-color: #214266;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 15px 0;
}
.fr-thos-who-know_bbox div .sub-box p {
	padding: 0px;
	margin: 0px;
}


.fr-thos-who-know_bbox div .sub-box .heding {
	color: white;
	font-weight: bold;
	font-size: 20px;
}